.Request_Description {
  width: 300px;
  height: 100px;
}

.submitButton {
  background-color: blue;
  color: white;
}

.disableButton {
  background-color: grey;
  color: white; /* ensures readable text in light mode */
}

@media (prefers-color-scheme: dark) {
  body,
  #root {
    background: #111;
    color: #eee;
  }
  


  .submitButton {
    background: #333;
    color: #fff;
    border: 1px solid #555;
  }

  .disableButton {
    background: #222;
    color: #777;
    border: 1px solid #444;
  }

  .Request_Description,
  input[type="text"] {
    background: #222;
    color: #eee;
    border: 1px solid #555;
  }
}